@import './../../../common/styles/breakpoints';
@import './../../../common/styles/templates';

.container{
    max-width: 70px;
    background-color: palevioletred;
    @extend %one-line;
    @media screen and (min-width:$vd) {
        background-color: aquamarine;
    }
}
.btn{
    max-width: 40px;
    border: blueviolet 3px solid;
    @extend %one-line;
}